@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Module B";
}

<style>
    html, body, #s-wrapper {height: 100%;}    
    #s-content {height:calc(100% - 40px); padding: 5px 8px;}
    .s-3col-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .s-3col {height:100%; border: 1px solid #aaa;}
    .s-3col.s-3col-1, .s-3col.s-3col-2 {width:230px;}
    .s-3col.s-3col-3 {width: calc(100% - 460px)}
    .s-3cpl.s-3col-1, .s-3col.s-3col-3 {border-left-width:0;}
</style>
<div class="s-3col-container">
       
    <div class="s-3col s-3col-1">

    </div>
    <div class="s-3col s-3col-2">

    </div>
    <div class="s-3col s-3col-3">

    </div>
    

</div>
