
pre, pre code { overflow: auto; white-space:pre;}
/* hides placeholder when input gets the focus - not tested */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input::-webkit-input-placeholder { font-style:italic; }
input:-moz-placeholder { font-style: italic; } /* FF 4-18 */
input::-moz-placeholder { font-style: italic; } /* FF 19+ */
input:-ms-input-placeholder { font-style:italic; } /* IE 10+ */


/* === bootstrap overrides === */
pre{border-radius: 0;}
/* === end of bootstrap overrides === */

/* restore kendo grid css overwritten by bootstrap*/
.k-grid td
{
padding: .4em .6em !important;
line-height: 1.6em !important;
vertical-align: middle !important;
}
/* === kendo overrides === */

.k-treelist .k-icon.k-i-collapse:before {content: "\e146";} /* change the default collapse icon for treelist */
.k-treelist .k-icon.k-i-expand:before {content: "\e145";}
.k-treelist .k-treelist-group {font-weight: bold;}
.k-panelbar .k-icon.k-panelbar-expand:before {content: "\e015";}  /* change the default expand icon for panelbar */
.k-panelbar .k-icon.k-panelbar-collapse:before {content: "\e013";}
.k-button.k-button-icon .k-icon, .k-button.k-button-icontext .k-icon {vertical-align: text-bottom;}  /* default was text-top but doesnt seem to work. somehow setting it to text-bottom works */
.k-grid-header th.k-header { height: auto; white-space: normal;}
.k-state-selected > .k-link, .k-panelbar > li > .k-state-selected, .k-panelbar > li.k-state-default > .k-state-selected.k-link {
    box-shadow: none;
}
.k-dropdown .k-input {vertical-align:middle;}
.k-checkbox-label:before {
    width: 11px;
    height: 11px;
    font-size: 11px;
    line-height: 11px;
}

.k-listbox .k-list-scroller {border-width:0;padding:0;}

/* make it behave like treelist */
.k-grid-norecords {
    padding: 0.4em .6em;
    text-align: left;
} 

.k-tabstrip-items .k-loading {
    border-top: 0; /* this will cause the top border of tab strips to be a thin line rather than a thick line*/
}
.k-tabstrip .k-content {border-width: 1px 0 0 0; padding-left:0; padding-right:0;}
.k-tabstrip-top .k-tabstrip-items .k-state-active {
    background-color: #7ea700;
    border-bottom-color: transparent;
    border-bottom-width: 0;
}
.k-tabstrip-items .k-item {margin-bottom: -1px;}
.k-tabstrip-items .k-state-default {border-color: #7ea700;}
.k-tabstrip-top .k-tabstrip-items .k-state-active .k-link {color: #fff;}
/* === end of kendo overrides === */

body {min-width: 1000px;}  /* min width to maintain readability. this will stop elements from wrapping */

#span-filter-type {
    display: inline-block;
    width: 20px;
    text-align: center;  
    background-color: transparent;
    color: #fff;
}
.regex-filter:after {
    content: "{..}";
    font-weight: bold;
}
.in-string-filter:after {
    content: "\f069";
    font-family: FontAwesome;
}
.plan {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    height: 710px;
}
.plan .plan-row {
    display: table-row;
    width: 100%;
}
.plan .plan-cell {
    display: table-cell;
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 5px 5px;
}
.plan .plan-cell.plan-cell-header {
    background-color: #666;
    vertical-align: middle;
    color: #fff;
}
.plan .plan-cell:nth-child(-n+2) {
    width: 230px; 
    min-width: 230px;
}
.plan .k-tabstrip-wrapper {
    overflow-x: auto;
}
#tabstrip .k-tabstrip-items {
    padding-top: 0;
}

#tabstrip.k-widget {
    border-width: 0;
}

#treelist-dynamic-params {
    height: 550px;
}
#grid-plan-history {
    min-height: 250px;  /* setting height here doesnt work as kendo script keeps overriding it */
    max-height: 250px;
    margin-bottom: 3px;
}
#result-plan-diagram-container {
    /*height: 250px; 
    width: inherit;*/ 
    overflow: auto;
    box-sizing: border-box;
}
#result-plan-code-container {
    height: 250px;
    border: 1px solid #ddd;                             
}

#result-plan-code-container pre {
    height: 100%;
}
#diagram-plan {height: 550px;}  /* same height as plan input parameter */
#diagram-result-plan {height: 250px;}

/* sup tag doesnt render well */
.superscript {
    vertical-align: super;
    font-size: 0.7em;
}
/* used to style plan and result plan diagram box */
.diagram-box {
    text-align: center;
    width: 200px;
    height: 75px;
    word-wrap: normal;
}
.diagram-box.oneline {
    padding-top: 1.75em; /* crude way to vertical align */
}
.diagram-box.twolines {
    padding-top: 1.25em; /* crude way to vertical align */
}

/*.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}*/
body.chrome {
    font-size: 11px;
}
